@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Miniver&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing:border-box;

}

:root {
  --bg: #fff8f2;           /* Background */
  --coffee-dark: #4b2e2b;  /* Headings / Navbar / Footer */
  --coffee-medium: #7b4f37;/* Subheadings / Icons / Borders */
  --coffee-light: #c8a27e; /* Cards / Sections / Light areas */
  --accent: #d4a574;       /* Buttons / Highlights / Links */
  --text: #2b1a16;  
         /* Normal text */
         /*font-weight*/
  --title-size: 3.2rem;        /* Hero title */
  --subtitle-size: 1.6rem;     /* Hero subtitle */
  --description-size: 1.15rem; /* Hero paragraph */

  --nav-font: 1.2rem;
  --nav-height: 80px;
  --btn-font: 1.1rem;
  --btn-padding: 0.8rem 1.6rem;

 
  --container-width: 1200px;
  --section-padding: 4rem 0;
  --small-text: 0.95rem;
}
body{
    margin: 0;
    padding: 0;
    background:var(--bg);
}
header{
    background:var(--coffee-dark);

}
header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 10px 30px;
     background:var(--coffee-dark);
     position:fixed;
     width: 100%;
    
   
}
.nav-menu{
   display: flex;
   gap: 10px;
}

ul{
    list-style-type: none;
  
}
 a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    background: none;
}
#menu-close-button,#menu-open-button{
    display: none;
}
img{
    width: 100%;
}
.section-content{
    margin: 0 auto;
    padding: 0 40px;
    max-width: 100%;
}
.section-title{
   text-align: center;
   padding: 100px 0 100px; 
   text-transform: uppercase;
   font-size:2rem;
   font-weight: 700;
   margin-bottom: 40px;
   font-family:"Kaushan Script",sans-serif;
}
.section-title::after{
    content:"";
    width:80px;
    height: 5px;
    display:block;
    margin: 10px auto;

    background: var(--coffee-medium);



}
.navbar .logo .logo-text{
    color: var(--bg); 
     font-family: "Miniver",sans-serif;
     padding:80px;
}
.navbar .nav-menu .nav-link{
    color: var(--bg); 
    padding: 10px 18px;
    border: 1px solid transparent;
    border-radius:30px;
    
}
.navbar .nav-menu .nav-link:hover{
    background: transparent;
    border: 1px solid var(--bg);
}
.hero-section{
    min-height: 100vh;
    background-color: var(--bg);
}
.hero-section .section-content{
    display: flex;
    align-items: center;
    width:80%;
    justify-content: space-between;
    min-height: 100vh;
    color: var(--text);

}
.hero-section .hero-details .title{
    font-size:var(--title-size);
    font-weight: 700;
    font-family: "Miniver",sans-serif;
}
.hero-section .hero-details .subtitle{
    margin-top: 8px;
    max-width: 70%;
    font-size:var(--subtitle-size);
    font-weight: 500;
    line-height:1.6;
    color:var(--coffee-medium)
}
.hero-section .hero-details .description{
    max-width: 80%;
    margin: 24PX 0 40PX;
    font-size:var(--description-size);
    line-height:1.6;
    color: var(--text);
}
.hero-section .hero-details .buttons{
    display: flex;
    gap: 23px;
}

.hero-section .hero-details .button{
    padding: 10px 26px;
    background:var(--accent);
    color: var(--text);
    border:2px solid var(--accent);
    border-radius:20px;
    cursor: pointer;
}
.hero-section .hero-details .button:hover,.hero-section .hero-details .contact-us{
    color: var(--coffee-dark);
    border-color:var(--coffee-medium);
    background: transparent;
}
.hero-section .hero-details .contact-us:hover{
     background:var(--accent);
    color: var(--text);
    border:2px solid var(--accent);
}
.hero-section .hero-image-wrapper{
    max-width: 500px;
    margin-right:30px;
}
/*about -section-layout*/

.about-section{
    padding:120px 0;
    background:var;
    color: var(--text);
}
.about-section .section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: 50px;
}
.about-section .section-content .about-img-wrapper .about-img{
   width:370px;
   height: 370px;
   object-fit: cover;
   border-radius:50%;
  
}
.about-section .about-detail .section-title{
   padding:0; 
}
.about-section .about-details .text{
    line-height:30px;
    margin:50px 0 30px;
    text-align: center;
    font-size:var(--description-size) ;
}
.about-section .social-link-list{
    display:flex;
    gap:25px;
    justify-content: center;
    
    
}
 .social-link-list .social-link{
    color:#121212;
    font-size:30px;   
    transition: 0.2s ease;
}
.social-link-list .social-link:hover{
    color: var(--coffee-medium);
}
/*menu-section*/
 .menu-list{
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
}
 .menu-list .menu-item {
    background: #f1f0ef;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
    padding: 30px;
    border-radius:12px;
    transition: background-color 0.3s ease;
    cursor: pointer;
     aspect-ratio: 1; 
} 
 .menu-list .menu-item:hover{
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
 }
.menu-section .menu-list .menu-item .menu-img{
    max-width: 83%;
    aspect-ratio: 1;
}
.menu-section .menu-list .menu-item h3{
    font-size: 20px;
    font-weight:500;
    font-family: "Oswald",sans-serif;
}
.menu-section .menu-list .menu-item p{
     font-size: 16px;
    font-weight:400;
    font-family: "Oswald",sans-serif;
    text-align: center;
}
@media(max-width:1024px){
    .menu-list{
        gap: 60px;
    }
     .menu-list .menu-item{
        width: calc(100% / 2 - 60px); 
     }

}
@media(max-width:900px){
   :root {
    --title-size: 2.4rem;
    --subtitle-size: 1.2rem;
    --description-size: 1rem;
    --nav-font: 1.1rem;     /* size of nav links */
    --btn-font: 1rem;       /* button text size */
    --btn-padding: 0.6rem 1rem;
  }
  body.show-mobile-menu header::before{
    content: "";
    position: fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    backdrop-filter:blur(5px);
    background: rgba(0, 0, 0, 0.2);
  }
  .navbar :where(#menu-close-button,#menu-open-button){
    font: size 1.3rem;
    display: block;
  }
  #menu-close-button,#menu-open-button{
    display:block
  }
    .navbar #menu-close-button{
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 20px;
    }
 .navbar #menu-open-button{
    color:white;
    font-size: 25px;
    
 }
    
    .navbar .nav-menu{
     
        display: flex;
        position:fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        background: var(--coffee-light);
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 100px;
         transition:left 0.2s ease;
    }
    /* .navbar .nav-menu .nav-link{
        border:1px solid var(--coffee-dark);
        background: var(--coffee-dark);

     }
      
    .navbar .nav-menu .nav-link:hover{
        background:transparent;
        border:2px solid var(--coffee-dark);
       
    }*/
    
body.show-mobile-menu .navbar .nav-menu{
        left:0;

    }
     .navbar .nav-menu .nav-link{
        color: var(--text);
        display: block;
        margin-top: 17px;
       
     }
     .hero-section .section-content{
        gap: 50px;
        text-align: center;
        padding:30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
     }
     .hero-section .hero-details :is(.subtitle,.discription){
        max-width: 100%;
     }
     
     .hero-section .hero-details .buttons{
        justify-content: center;
     }
     .hero-section  .hero-image-wrapper{
        max-width: 270px;
        margin-right: 0;
     }
     .about-section .section-content{
        gap: 50px;
        flex-direction: column;
     }
.about-section .section-content .about-img-wrapper .about-img{
    
    height:100%;
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1;  
}
.about-section .section-content .about-detail{
width:90%;
text-align: center;
}
 .social-link-list .sociail-link{
    color:#121212;
    font-size:20px;   
    transition: 0.2s ease;
}


}

@media(max-width:560px){

.menu-list .menu-item{
    flex: 0 0 100%;
   aspect-ratio: 1; 
}
}

